body{
  margin: 0;
  padding: 0;
  font-family: Proxima Nova,Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.bg {
  height: 480px;
  overflow: hidden;
  position: absolute;
  top: 0px;
}

.bg > img{
  height: 480px;
  width: 100%;
  object-position: 50% 50%;
  object-fit: cover;
}

div{
  box-sizing: border-box;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.text_img {
  padding: 102px 32px 32px 40px;
  width: 60%;
  height: 480px;
}

.text_img h1{
  color: #0066CC;
  font-size: 40px;
}

.text{
  padding: 32px 32px 32px 40px;
}

.text h1{
  margin-top: 50px;
}

.console {
  background: #070707;
  border-radius: 12px;
  height: 360px;
  width: 100%;
  overflow-x:hidden;
  overflow-y:scroll;
  font-family: monospace;
  color: #fff;
  padding: 16px;
}

.footer{
  padding: 32px 32px 32px 40px;
}
.footer h2{
  color: #fff;
}
